<section class="table-section">
  <div class="table-section__container">
    <div class="table-section__content">
      <div class="table-section__header">
        <span class="table-section__subtitle">Ветер</span>
        <h2 class="table-section__title">Скорость ветра по странам СНГ</h2>
        <p class="table-section__description">
          Круговая диаграмма показывает распределение скорости ветра по странам СНГ. <br />
          Сравните интенсивность ветра между регионами в едином обзоре
        </p>
      </div>
      <div class="table-section__table-container">
        <app-wind-chart></app-wind-chart>
      </div>
    </div>
  </div>
</section>
