<section class="table-section">
  <div class="table-section__container">
    <div class="table-section__content">
      <div class="table-section__header">
        <span class="table-section__subtitle">График</span>
        <h2 class="table-section__title">График температур города Минска</h2>
        <p class="table-section__description">
          Выбирайте интересующий вас временной диапазон день неделя или месяц. <br />
          График обновляется автоматически при смене периода.
        </p>
      </div>
      <div class="table-section__table-container">
        <!-- Здесь будет таблица -->
      </div>
    </div>
  </div>
</section>
