<section class="table-section">
  <div class="table-section__container">
    <div class="table-section__content">
      <div class="table-section__header">
        <span class="table-section__subtitle">Таблица</span>
        <h2 class="table-section__title">Температурные показатели стран СНГ</h2>
        <p class="table-section__description">
          Интерактивная таблица отображает текущие и прогнозные температуры.<br />
          Данные получены через API open-meteo для максимальной надёжности.
        </p>
      </div>
      <div class="table-section__table-container">
        <app-temperature-table></app-temperature-table>
      </div>
    </div>
  </div>
</section>
