<header class="header">
  <nz-layout class="header__layout">
    <nz-header class="header__inner">
      <div class="header__container">
        <div class="header__logo" routerLink="/">
          <img
            src="/assets/images/SmartWeather_Logo.png"
            alt="SmartWeather"
            class="header__logo-img"
          />
        </div>

        <ul nz-menu nzMode="horizontal" class="header__menu header__menu--desktop">
          <li nz-menu-item [nzSelected]="selectedMenu === '/'" routerLink="/">Главная</li>
          <li nz-menu-item [nzSelected]="selectedMenu === '/notes'" routerLink="/notes">Заметки</li>
        </ul>

        <div class="header__burger" (click)="toggleMobileMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div class="header__mobile-menu" [class.header__mobile-menu--open]="isMobileMenuOpen">
          <div class="header__mobile-content">
            <div class="header__mobile-header">
              <div class="header__mobile-logo" (click)="toggleMobileMenu()" routerLink="/">
                <img
                  src="/assets/images/SmartWeather_Logo.png"
                  alt="SmartWeather"
                  class="header__mobile-logo-img"
                />
              </div>
              <div class="header__mobile-close" (click)="toggleMobileMenu()">×</div>
            </div>
            <ul class="header__mobile-list">
              <li
                class="header__mobile-item"
                [class.header__mobile-item--active]="selectedMenu === '/'"
                routerLink="/"
                (click)="toggleMobileMenu()"
              >
                Главная
              </li>
              <li
                class="header__mobile-item"
                [class.header__mobile-item--active]="selectedMenu === '/notes'"
                routerLink="/notes"
                (click)="toggleMobileMenu()"
              >
                Заметки
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nz-header>
  </nz-layout>
</header>
