<section class="table-section">
  <div class="table-section__container">
    <div class="table-section__content">
      <div class="table-section__header">
        <span class="table-section__subtitle">Влажность</span>
        <h2 class="table-section__title">Недельные показатели влажности Минска</h2>
        <p class="table-section__description">
          Столбчатая диаграмма отображает уровень атмосферной влажности за <br />
          каждый день недели. Планируйте свою деятельность на основе этих данных.
        </p>
      </div>
      <div class="table-section__table-container">
        <!-- Здесь будет таблица -->
      </div>
    </div>
  </div>
</section>
